log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

.openpublishing.buildcore.ps1
/.vs/slnx.sqlite
/.vs/tfs-docs-pr2/v15/.suo
/docs/server/install/_img/install-single-server/basic-verification-passed-8.bmp
/docs/server/install/_img/install-single-server/advanced-language-4.bmp
/docs/server/install/_img/install-single-server/advanced-db-5.bmp
/docs/server/install/_img/install-single-server/advanced-app-tier-7.bmp
/docs/server/install/_img/install-single-server/advanced-analysis-services-9c.bmp
/docs/server/install/_img/install-single-server/advanced-account-6.bmp
/docs/server/install/_img/install-single-server/advanced-3.bmp
/docs/server/install/_img/install-single-server/admin-console-tpc-configure-install-features.bmp
/docs/server/install/_img/install-single-server/welcome-1.bmp
/docs/server/install/_img/install-single-server/web-site-settings.bmp
/docs/server/install/_img/install-single-server/new-deployment-db-2.bmp
/docs/server/install/_img/install-single-server/configuration-center.bmp
/docs/server/install/_img/install-single-server/basic-sql-server-3.bmp
/docs/server/install/_img/install-single-server/basic-readiness-review-7.bmp
/docs/server/install/_img/install-single-server/basic-readiness-errors-8.bmp
/docs/server/install/_img/install-single-server/basic-language-2.bmp
/docs/server/install/_img/install-single-server/basic-db-4.bmp
/docs/server/install/_img/install-single-server/basic-app-tier-http-only-4.bmp
/docs/server/install/_img/install-single-server/basic-app-tier-5.bmp
/docs/server/install/_img/install-single-server/basic-3.bmp
/docs/server/install/_img/install-single-server/advanced-search-8.bmp
/docs/server/install/_img/install-single-server/advanced-review-verify-11.bmp
/docs/server/install/_img/install-single-server/advanced-reporting-services-9b.bmp
/docs/server/install/_img/install-single-server/advanced-reporting-9a.bmp
/docs/server/install/_img/install-single-server/advanced-report-reader-9d.bmp
/docs/server/install/_img/install-single-server/advanced-readiness-checks-12.bmp
/docs/server/install/_img/install-single-server/advanced-project-collection-10.bmp
*.bmp
